<h1>Questions#answer</h1>
<p>Find me in app/views/questions/answer.html.erb</p>

<form action="/ask" method="get">
  <input type="text" name="ask" placeholder="Ask a question?">
  <input type="submit" value="Ask!">
</form>

<br>
<div class="banner"><%= @answer %></div>
<br>
<%= link_to "Back", "/ask" %>